.bookmarks button {
  font-size: 8pt;
  color: #FFFFFF;
  background-color: #eb3c00;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}
.bookmarks button:hover {
  font-size: 8pt;
  background-color: #eb3c00;
  		}
.bookmarks_added {	
  background-size: 8pt; 
  color: #FFFFFF; 
  background-color: #7A6460;
}
.result {
  background-size: 8pt; 
  color: #FFFFFF; 
  background-color: #008000; 
}
.all_bookmarks {
  padding: 20px;
  max-width: 700%;
}
.no_bookmarks {
  padding: 20px;
  max-width: 100%;
}
a { 
  text-decoration: none; 
   }
a:hover { 
  text-decoration: underline; 
  }
.del_all button{
  font-size: 11pt;
  color: #FFFFFF;
  background-color: #B22222;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}
.dell_bookmarks button {
  height: 100%;
  font-size: 8pt;
  color: #FFFFFF;
  background-color: #eb3c00;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}
.dell_bookmarks button:hover {
  font-size: 8pt;
  background-color: #eb3c00;
}
.title {
  padding-top: 20px;
}
.content{
  padding: 10px
}
.dell_bookmarks{
  padding: 10px;
}